@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

.hidden {
  display: none;
}

.cursor {
  position: fixed;
  /* border: 8px solid #c6c6c6; */
  box-shadow: 0px 0px 40px 20px #ffffff9a;
  left: 0;
  top: 0;
  pointer-eventd: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
}

.cursor2 {
  position: fixed;
  width: 0px;
  height: 0px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-eventd: none;
  transform: translate(-50%, -50%);
}

body {
  margin: 0;
  background-color: #101010;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: white;
}

#memory-board {
  width: 900px;
  margin: auto;
  text-align: center;
}

.card {
  display: inline-block;
  perspective: 300px;
  transform-style: preserve-3d;
  position: relative;
  margin: 10px;
}

.card:hover {
  opacity: 90%;
  transform: rotate(3deg);
}

.card.turned {
  pointer-events: none;
}

.card.turned .front {
  transform: rotateY(0deg);
}
.card.turned .back {
  transform: rotateY(180deg);
}

.card .back,
.card .front {
  width: 118px;
  height: 178px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.853);

  transition: transform 0.6s ease;
}

.card .back {
  background-image: url("assets1x/Default.png");
  background-size: cover;
}

.card .front {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(-180deg) translateZ(1px);
  backface-visibility: hidden;
}

#score {
  font-size: 1, 5rem;
  text-align: center;
  font-weight: 400;
}

h1 {
  margin-top: 40px;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  position: relative;
}

#final-screen {
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: auto;
  position: fixed;
  z-index: 2;
  margin-top: 5%;
}

#first-screen {
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: auto;
  position: fixed;
  z-index: 2;
  margin-top: 5%;
}

#final-screen p {
  margin-top: 50px;
  margin-bottom: 50px;
}

#first-screen p {
  margin-top: 50px;
  margin-bottom: 50px;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 10;
  font-weight: bold;
  text-decoration: none;
}

button {
  padding: 40px 30px;
  border-radius: 100px;
  border: solid white 1px;
  background-color: transparent;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:hover {
  background-color: #ffffff14;
}
